<!DOCTYPE html>
<html>

<head>
    <%- include('layout/meta.html') %>
        <title>莱希斯 - 关于我们</title>
        <link rel="stylesheet" href="/plugn/light-box/lightbox.css" charset="utf-8">
</head>

<body>
    <%- include('layout/header.html') %>
        <%- include('layout/navmenu.html') %>
            <div class="banner-bg"></div>
            <ul class="pic-list">
                <li><span class="pic1"></span></li>
                <li><span class="pic2"></span></li>
                <li><span class="pic3"></span></li>
                <li><span class="pic4"></span></li>
            </ul>
            <div class="about-common">
                <div class="case-title">
                    <span class="case-title-text">公司简介<i>/ Company Profile</i></span>
                </div>
                <div class="company-info">杭州莱希斯膜结构有限公司是一家服务于膜结构工程领域的专业型公司，是华东最具规模的膜结构工程专业公司之一。公司是中国钢结构协会空间结构分会会员单位，拥有中国钢结构协会空间结构分会颁发的施工专项资质和设计专项资质。 公司汇集了一批国内较早从事膜结构技术人员和设计师，配备了设计软件有：德国EASY和意大利FORTEN32美国钢结构设计软-STAAD/PRO、SAP2000，以及国内著名的钢结构、膜结构设计软件3D3S等，可进行膜结构的找形、静力分析、结构受力分析、膜裁剪等方面的工程应用。本公司目前拥有自动裁剪机一套，PVC膜材加工设备三套及PTFE膜材加工设备一套，ETFE膜材加工设备一台，年加工能力十五万平方米。 本公司已通过GB/T19001-2008 idt ISO9001:2008 GB/T50430-2007质量体系认证并严格执行，以严把质量关为基础，努力做好售后服务，致力为各界新老客户提供最优质的精品工程。</div>
            </div>
            <div class="about-common">
                <div class="case-title">
                    <span class="case-title-text">企业资质<i>/ Enterprise Qualification</i></span>
                </div>
                <ul class="zizhi-list">
                    <a class="example-image-link" href="/plugn/light-box/zhizhi-one.jpg" data-lightbox="example-set" data-title="营业执照"><img class="example-image" src="/plugn/light-box/zhizhi-one.jpg" alt=""/></a>
                    <a class="example-image-link" href="/plugn/light-box/zhizhi-two.jpg" data-lightbox="example-set" data-title="税务登记证"><img class="example-image" src="/plugn/light-box/zhizhi-two.jpg" alt="" /></a>
                    <a class="example-image-link" href="/plugn/light-box/zhizhi-three.jpg" data-lightbox="example-set" data-title="企业证书"><img class="example-image" src="/plugn/light-box/zhizhi-three.jpg" alt="" /></a>
                    <a class="example-image-link" href="/plugn/light-box/zhizhi-four.jpg" data-lightbox="example-set" data-title="质量证书"><img class="example-image" src="/plugn/light-box/zhizhi-four.jpg" alt="" /></a>
                </ul>
            </div>
            <div class="about-common">
                <div class="case-title">
                    <span class="case-title-text">企业文化<i>/ Enterprise Culture</i></span>
                </div>
                <ul class="wenhua-list">
                    <li><span>公司愿景：</span> 成为国内膜结构行业一流服务型公司。</li>
                    <li><span>公司使命：</span> 为客户创造更大价值 为员工提供发展平台 为社会承担更多责任 使企业持续发展。</li>
                    <li><span>公司价值观：</span> 诚信敬业 臻于责任 追求卓越。</li>
                    <li><span>经营理念：</span> 责任质量为重 诚信经营为本。</li>
                    <li><span>经营策略：</span> 优秀的员工 优秀的质量 优秀的服务。</li>
                </ul>
            </div>
            <%- include('layout/footer.html') %>
                <script src="/plugn/light-box/lightbox-plus-jquery.js" type="text/javascript"></script>
</body>

</html>
