<!DOCTYPE html>
<html>

<head>
    <%- include('layout/meta.html') %>
    <title>莱希斯 - 联系我们</title>
    <link rel="stylesheet" href="/plugn/banner/swiper.min.css" charset="utf-8">
    <script src="http://api.map.baidu.com/api?v=2.0&ak=PcLpjHPKdqaOOEkdKQrnV6tzUzvpLidy" type="text/javascript"></script>
</head>
<body>
    <%- include('layout/header.html') %>
    <%- include('layout/navmenu.html') %>
    <div class="main-banner"></div>
    <div id="map"></div>
    <div class="add-foot">
    	<h2>公司地址：杭州市余杭区良渚街道名城博园3幢305室</h2>
        <h2>工厂地址：杭州市余杭区中泰工业园</h2>
    	<ul class="add-list">
    		<li>电话：0571-56670560</li>
    		<li>手机号：15355054105</li>
            <li>传真：0571-56670560</li>
    	</ul>
    	<ul class="add-list">
    		<li>QQ : 1579312763</li>
    		<li>微信：15355054105</li>
    		<li>邮箱：1579312763@qq.com</li>
    	</ul>
    </div>
    <%- include('layout/footer.html') %>
</body>
</html>
