<!DOCTYPE html>
<html>

<head>
    <meta name="baidu-site-verification" content="IEgfE4or87">
    <%- include('layout/meta.html') %>
    <title>莱希斯 - 膜结构</title>
    <link rel="stylesheet" href="/plugn/banner/swiper.min.css" charset="utf-8">
</head>
<body>
    <%- include('layout/header.html') %>
    <%- include('layout/navmenu.html') %>
    <%- include('layout/banner.html') %>
    <div class="case-wrap">
        <div class="case-title">
            <span class="case-title-text">工程案例<i>/ SUCCESS CASE</i></span>
            <a href="/case.html" class="case-title-more">更多>></a>
        </div>
        <ul class="case-list" id="js-case-list"></ul>
        <div class="case-more-box">
            <h2 class="case-more-title">更多案例</h2>
            <div class="menu-list-wrap scrolllist" id="js-more-case">
            <a href="javascript:void(0)" class="arraw-prev abtn aleft"></a>
            <a href="javascript:void(0)" class="arraw-next abtn aright"></a>
                <div class="menu-box imglist_w">
                    <ul class="menu-list imglist" id="js-menu-imglist"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="news-wrap">
       <div class="case-title">
            <span class="case-title-text">新闻资讯<i>/ NEW</i></span>
            <a href="/news.html" class="case-title-more">更多>></a>
        </div>
        <div class="news-bg">
            <div class="news-text">追求品质，追求卓越，最大限度满足客户需求</div>
            <div class="news-text">THE PURSUIT OF QUALITY, EXCELLENCE, BEST MEET CUSTOMER NEEDS</div>
        </div>
        <ul class="news-list" id="js-news-list"></ul>
    </div>
    <div class="about-us-wrap">
       <div class="case-title">
            <span class="case-title-text">关于我们<i>/ ABOUT US</i></span>
            <a href="/about.html" class="case-title-more">更多>></a>
        </div>
        <div class="about-content">
            <div class="about-left"></div>
            <div class="about-right">
            <div>杭州莱希斯膜结构有限公司是一家服务于膜结构工程领域的专业型公司，是华东最具规模的膜结构工程专业公司之一。公司是中国钢结构协会空间结构分会会员单位，拥有中国钢结构协会空间结构分会颁发的施工专项资质和设计专项资质。</div>
            <div>本公司已通过GB/T19001-2008 idt ISO9001:2008  GB/T50430-2007质量体系认证并严格执行，以严把质量关为基础，努力做好售后服务，致力为各界新老客户提供最优质的精品工程。</div>
            </div>
        </div>
    </div>
    <%- include('layout/footer.html') %>
</body>
</html>
